@use '../variables' as *;

.about-section {
  padding: 3rem 0 5rem;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  
  h2 {
    color: $light-text;
    font-size: 1.8rem;
    margin: 2.5rem 0 1rem;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  p {
    margin-bottom: 1.5rem;
    line-height: 1.7;
    font-size: 1.05rem;
  }
  
  .about-quote {
    margin: 2.5rem 0;
    padding: 1.5rem 2rem;
    background-color: rgba($secondary-color, 0.5);
    border-left: 4px solid $primary-color;
    border-radius: $border-radius;
    
    blockquote {
      font-style: italic;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
    
    cite {
      display: block;
      text-align: right;
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }
  
  .about-list {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    
    li {
      margin-bottom: 0.8rem;
      position: relative;
      padding-left: 1rem;
      list-style-type: none;
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.7rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
  }
}