@use '../variables' as *;

.main-footer {
  background: $secondary-color;
  color: $text-color;
  padding: 1.5rem 0;
  margin-top: auto;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-copyright {
    text-align: center;
    font-size: 0.875rem;
    opacity: 0.7;
  }
}